extends layout 

block content 
  div(class="pet-foods-list with-background")
    h1= title 
    div.control-buttons
      a(href=category.url + '/update') Edit 
      a(href=category.url + '/delete') Delete
    ul 
      each food in petFoodInstances
        li 
          div(class="pet-food-card")
            a(href=food.url)
              div.image-container(style=`background-image: url("${food.imageUrl}")`)
              h4= food.name
              span(class="price")= "$" + food.price
              span(class="in-stock")= food.in_stock
      li(class="create-new") 
        a(href="./pet_foods/create") +
              