extends layout 

block content 
  div.create-page.with-background
    h1= title

    div.form-container
      form(method="POST" enctype="multipart/form-data") 
        label(for="name") Name: 
        input#name.form-control(type="text" placeholder="Name of pet food brand..." name="name" requied value=(petFood ? petFood.name : ''))

        label(for="animal_type") Animal: 
        select#animal_type.form-control(required name="category")
          option(value='') --Please select an Animal--
          for animal in animalsList 
            if petFood && animal._id.toString() === petFood.category.toString()
              option(value=animal._id selected) #{animal.animal_type}
            else 
              option(value=animal._id) #{animal.animal_type}

        label(for="in_stock") In Stock: 
        input#in_stock.form-control(type="number" placeholder="How much is in stock..." name="in_stock" requied value=(petFood ? petFood.in_stock : ''))

        label(for="price") Price: 
        input#price.form-control(type="number" placeholder="Price of the product..." name="price" step='.01' requied value=(petFood ? petFood.price : ''))

        label(for="pet_food_image") Image:
        input#pet_food_image(type="file" name="pet-food") 
        button(type="submit") Submit 
    if(errors)
      ul.errors
        each error in errors 
          li!= error.msg